.flex-container{
    flex-direction:column;
    align-items: center;
}

.services-section{
    padding:30px;  
}
.services-flex-container {
    flex-direction: column;
    align-items: center;
    padding:10px;
}

.services-heading{
    padding-top:20px;

}

.investment{
   margin-bottom:50px;
}

.portfolio{
    margin-bottom:50px;
}

.div-left-image{
    display:none;
}

.div-right-content{
    width:100%;
    padding:40px 0px;
}

.members{
    border:none;
}

.logo-container{
    justify-content: center;
}

.logo-container img{
    margin-right:30px;
}

.logo-container img:last-child{
    display:none;
}

.form{
    width:100%;
    
}
.right-image{
    display: none;
}