*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    padding-left: 50px;
    padding-right: 50px;
    max-width:1100px;
    margin:0 auto;
}

.container-two{
    padding-left: 50px;
    padding-right: 50px;
    width:100%;
    margin:0 auto;
}

.set-relative{
    position: relative;
}

.hover-sidebar{
    display: none;
}

.profile-menu{
    display: none;
    position: absolute;
    top: 10px;
    list-style: none;
    background-color: #fff;
    z-index: 3;
    width: 150px;
}

.profile-menu li {
    padding: 10px;
}

.profile-menu li a {
    color: #ff6902;
}

.top-nav{
    /* position:sticky;
    width:100%;
    top: 0; */
    /* z-index:99; */
}

.responsive-bars {
    display: none;
}

.gradiant{
  background-color: #ff6902;
  background-image: linear-gradient(#ff6902, orange); 
}

.flex-container{
    display:flex;
    justify-content: space-between;
    align-items:center;  
}

.flex-container-left{
    display: flex;
}

.logo{
    /* padding-top:15px; */
    padding-right:20px;
     flex:2;
     font-size:20px;
     color:#fff;
     font-weight: bold;
     margin-right:15px;
     border-right:1px solid #fff;
}
.dropdown{
    border:none;
    background:transparent;
    color:white;
    flex: 1;
    outline:0;
}


.dropdown option{
    background-color: orange;
    font-weight:bold;
}

.flex-container-right{
    display: flex;
    list-style: none;
    height:40px;
    margin-top:15px;
    margin-bottom:25px;
}

.menu{
    padding:15px 5px;
    margin-right:20px;
    position: relative;
}
.menu a{
    text-decoration: none;
    color:#fff;
    font-size:14px;
    font-weight: bold;
    padding-bottom:7px;
}
.menu .home:hover{
        border:none;
}
.menu a:hover{
    border-bottom:2px solid #fff;
}

.homeicon{
    font-size:16px;
}

.profile{
    padding-top:5px; 
    margin-left:15px;

}
.profile a{
        color:white;
}
.profilepic{
    border: 1px solid white;
    font-size:20px;
    padding:8px;
    border-radius: 50%;
}
.arrow i {
    border: 1px solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
  }

.arrow:hover > .profile-menu{
    display: block;
}
  
.down{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.partners-section{
    background: url("../images/partnership.jpeg") no-repeat center center/cover;
    height:350px;
    position: relative;
}

.overlay{
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background: rgba(0,0,0,0.7);
}

.breadcrumb{
    margin-top:15px;
}

.link-breadcrumb a{
    font-size:11px;
    color:#fff;
    font-weight:bold;
    text-decoration: none;
    margin:0px 10px;
}

.link-breadcrumb:after{
    content:'>';
    color:white;
    font-weight: bold;
    font-size: 10px;
}

.last-breadcrumb{
    font-size:11px;
    color:#fff;
    font-weight:bold;
    margin-left:10px;
}

.inner-div{
    flex-direction: column;
    display:flex;
    justify-content:center;
    align-items:center;
    height:270px;
}
.partner-heading{
    font-size:48px;
    color:#fff;
}

.sub-content{
    color:#fff;
    font-weight:bold;
    font-size:15px;
    padding-top:5px;
}

.partner-btn{
    text-decoration: none;
    color:#fff;
    font-weight: bold;
    font-size:14px;
    padding:13px 32px;
    border:none;
    border-radius:25px;
    margin-top:30px;
}
.partner-btn:hover{
    border:1px solid red;
    box-shadow: 0 0 15px 5px #ccc;
}
.section-heading{
    font-size: 30px;
    color:RGB(89,93,105);
    text-align: center;
    font-weight: bold;
    margin:55px 0px 30px 0px;
}

.video-flex-container{
    /* background-color: red; */
    display: flex;
    align-items: center;
    height:380px;
    padding:20px;
    margin-bottom: 70px;
    border-radius: 7px;
    box-shadow: 0 0 15px 5px #ccc;
}

.video-flex-container > div {
    flex-basis: 60%;
    margin-right: 20px;
}

.current{
    width:40%;
}
.current-video{
    height:340px;
    width:100%;
    border-radius: 10px;
    
}

.text-on-image{
    display:flex;
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -10%);
    align-items:center;

}
.icon-on-image{
    
    color:orange;
    font-size: 65px;
    position: relative;
}

.image-caption{
    height:100px;
    width:260px;
    background-color:white;
    border-radius: 8px;
    background:rgba(255,255,255,0.8);
    padding-top:25px;
    padding-left:35px; 
    margin-left:-25px;
  
}
.sidevideo-container .binder .side-video{
    opacity: .5 ;
}

.sidevideo-container .binder .side-video:nth-child(2){
    opacity:none;
}


.image-caption h5{
    font-size:22px;
    color:black;
}

.image-caption span{
    font-size:16px;
    color:gray;
}
.sidevideo-container{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    list-style-type: none;
}
.side-video{
    height:80px;
    width:110px;
    border-radius: 5px;
    
}

.binder{
    display: flex;
    margin-bottom:20px;
}

.binder:last-child{
    margin:0;
}

.binder .img-caption{
    padding:20px 0px 20px 10px; 
}

.binder .name{
    font-size:15px;
    font-weight: bold;
}

.binder .designation{
    font-size:14px;
    font-weight: bold;
    color:gray;
}

.brands-section{
    background-color: #eee;
    padding:28px 0px;
}

.brand-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    /* flex-direction: column; */
    margin-bottom: 20px;
    box-shadow: 0 0 15px 5px #ccc;
    background-color: #fff;
    list-style: none;
    border-radius: 20px;
}

.brand-container li {
    border:1px solid #ccc;
    flex-basis: 25%;
}

.brand-container li:first-child,
.brand-container li:first-child img
{
    border-top-left-radius: 20px;
}
.brand-container li:nth-child(4),
.brand-container li:nth-child(4) img
{
    border-top-right-radius: 20px;
}

.brand-container li:last-child {
    border: none;
    text-align: center;
}

.brand-container img{
    height:100%;
    width: 100%;
}

.brand-container img:hover{
    border:1px solid orangered;
    box-shadow:0 0 15px 5px #ccc;
}

.load-more-btn{
    text-decoration: none;
    display: inline-block;
    color:RGB(89,93,105);
    padding:15px 34px;
    background-color: #fff;
    border:none;
    border-radius:25px;
    box-shadow: 0 0 10px 5px #ccc;
    font-size:14px;
    font-weight:bold;
    margin: 40px 0px;
}
.load-more-btn i{
    margin-right:10px;
}

.form{
    display: flex;
    flex-wrap: wrap;
}

.form input[type="submit"] {
    max-width: 230px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.form-element{
    padding-right:10px;
    width: 100%;
}

.form-element:nth-child(-n + 3) {
    flex-basis: calc(100%/3);
}

.form-element:nth-child(n + 4) {
    flex-basis: 50%;
}


/* .textarea,textarea{
    width:100%;
} */
.form p{
    color:gray;
    font-size:14px;
    margin-bottom: 5px;
}
.form input[type="text"]{
    width:100%;
    height:35px;
    border-radius: 5px;
    border:1px solid #ccc;
    padding-left:10px;
}


.form input[type="email"]{
    width:100%;
    height:35px;
    border-radius: 5px;
    border:1px solid #ccc;
    padding-left:10px;
}


.form input:hover{
    border:1px solid orangered;
    box-shadow:0 0 15px 5px #ccc;

}

.form-element{
    margin-bottom:40px;
}


.form .textarea{
    border-radius: 5px;
    padding-left:10px;
    padding-top:15px;
    border:1px solid #ccc;
    width:100%;

}

 .form .textarea textarea {
    border:none;
    width:100%;
}


.form .textarea:hover{
    border:1px solid orangered;
    box-shadow:0 0 15px 5px #ccc;

}

.textarea p{
    font-size:13px;
    font-weight: bold;
    /* padding-left:10px; */
    padding-bottom:10px;
}

.textarea span{
    color:orangered;
}

.btn{
    
    margin-left:340px;
    margin-bottom:80px;
}

.button{
    text-decoration: none;
    font-weight:bold;
    color:white;
    padding:20px 85px;
    border-radius:40px;
    border: none;
    display: inline-block;
}


.foot{
    display:flex;
    flex-direction: column;
    background-color: RGB(83,1,171);
}

.foot-icon{
    color:white;
    font-size:50px;
}

.upper-foot a{
    font-size:22px;
}
.upper-foot a:hover{
    border:1px solid red;
    box-shadow:0 0 15px 5px #ccc;
}

.upper-foot i{
    margin-left:15px;
}
.upper-foot span{
    font-size:40px;
    font-weight:bold;
    color:#fff;
}
.upper-foot{
    display: flex;
    justify-content:space-evenly;
    padding:100px 0px 20px;
    margin-left:40px;
    margin-right:40px;
    border-bottom:0.5px solid #fff;
    /* background-color: blueviolet; */
}
.right-right-lower-foot{
    text-align:right;
}
.foot-icons{
    display: block;
    color:RGB(83,1,171);
    margin-bottom: 10px;
}

.foot-icons i{
    padding:8px;
    border-radius:50%;
    background-color: #fff;

}

.foot-text{
    font-size:15px;
}

.foot-heading{
    font-size:33px;
    font-weight: bold;
}
.right-lower-foot{
    display: flex;
    justify-content: space-between;
    padding:15px 40px 60px;
    color:#fff;
}
