*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width:100%;
    max-width:950px;
    margin:0 auto;
}

.clearfix, .clearfix::after, .clearfix::before{
    content:'';
    clear:both;
    display:block;

}

.main-container{
    width:100%;
}

.hover-sidebar{
    display:none;
}
.welcome-section{
    background: url('../images/image4.jpeg') no-repeat center center/cover;
    color:#fff;
    height:100vh;
    position:relative;
}

.overlay{
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background: rgba(0,0,0,0.7);
}

.top-nav{
    /* height:2rem; */
    padding:2rem 0rem 4rem 0rem;
    border-bottom: 1px solid white;
    position: relative;
    z-index:2;
    /* background-color: red; */
}

.top-nav .bar{
    display: none;
}

.font{
    font-size:0.9rem;
    font-weight:bold;
}

.left-nav{
    float:left;
}
.right-nav{
    float:right;
}

.right-nav ul{
    list-style-type: none;
}

.right-nav ul li{
    float:left;
    margin-right:1.9em;
}
.right-nav ul li a{
    color:white;
    text-decoration: none;
}
.right-nav ul li:last-child{
    margin-right: 0;
}

.welcome-box{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.welcome-box a{
    color:white;
    text-decoration: none;
}
.welcome-box i{
    color:RGB(67,131,105);
    font-size:2.3rem;
}
.main-heading{
    font-size:2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-bottom:3rem;
}


.section{
    border-right: 1px solid white;
    float: left;
    text-align:center;
}

.first{
    padding-right: 4rem;

}
.second{

    border:none;
    padding-left: 4rem;

}

.travel{
    font-size:1.3rem;
    font-weight: bold;
    margin-top:1rem;
}

.gallery{
    font-size:1.3rem;
    font-weight: bold;
    margin-top:1rem;
}
.sub-text{
    font-size:1rem;
    margin-top:0.6rem;
}
.welcome-box .btn{
    border:0.2rem solid RGB(67,131,105);
    font-size:0.7rem;
    padding:0.7rem 2.5rem;
    border-radius:2rem;
    color:RGB(67,131,105);
    text-align:center;
    display: inline-block;
    margin-top:3rem;
    margin-left:5rem;
} 

.content{

}

.left-main-content{
    float:left;
    text-align: center;
    width:50%;
    padding:3rem 0;

}

.right-main-content{
    float:right;
    text-align: center;
    width:50%;
    padding:3rem 0;
}

.display-image{
    width:7rem;
    height:7rem;
    border-radius: 5rem;
}
.image-name{
    font-size:1.3rem;
    margin:0.7rem 10rem 2rem 10rem;
    line-height:1.4em;

}

.image-description{
    font-size:0.9rem;
    margin:0.7rem 8rem 1.5rem 8rem;
    line-height: 1.5em;
    color:gray;

}

.learn-btn{
    text-decoration: none;
    border:0.2rem solid RGB(67,131,105);
    font-size:0.7rem;
    padding:0.7rem 2.5rem;
    border-radius:2rem;
    color:RGB(67,131,105);
    text-align:center;
    display: inline-block;
}








