.container{
    max-width:600px;
    width:100%;
    margin:0 auto;
}

.top-nav .bar{
    display:block;
    float:right;
}

.top-nav .bar:hover{
    /* display: block; */
}

.hover-sidebar{
    /* display: block; */
    background-color: RGB(67,131,105);
    width:20%;
    height:100%;
    top:0;
    bottom:0;
    right:0;
    position:fixed;
    z-index:4;
}

.hover-sidebar ul{
    list-style-type: none;
}

.hover-sidebar li:last-child{
    border:none;
}

.hover-sidebar a{
    text-decoration: none;
    color:white;
    font-size:0.8rem;
    margin:10px;
    display: inline-block;
    border-bottom: 1px solid white;
    padding:10px;
    width:85%;
}

.hover-sidebar li:first-child a{
    border:none;
    margin-top:5px;
    text-align:right;
}


.right-nav{
    display: none;
}
.left-main-content{
    float:none;
    width:100%;
    padding: 1rem 0rem;
}

.right-main-content{
    float:none;
    width:100%;
    padding: 1rem 0rem;
}

.image-name{
    margin:0.7rem 6rem 2rem 6rem;

}

.image-description{
    margin:0.7rem 4rem 1.5rem 4rem;
    color:gray;

}